.remember {
  padding: 50px 0;
  background: #e5f5f6;
}

.remember__content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.remember__ballons {
  width: 200px;
  height: 200px;
  display: flex;
  margin: 50px auto;
  animation: move 9s infinite;
}

.remember__image {
  width: 50%;
}

@media (max-width: 1000px) {
  .remember__content {
    flex-direction: column;
  }
}

@media (max-width: 850px) {
  .remember__image {
    width: 100%;
  }
}
